
* {
    box-sizing: border-box;
}
body {
    background-color: green;
}

#cimek{
    text-align: center;
}
#főcim{
    color:aqua
}
#másodikcim {
    color: black;
}

span.szin {
    font-style: italic;
    color: blue;
}

#felsorolás {
    margin: 20px;
    padding: 30px;
    border: 2px dotted white;
}

a {
    background-color: blue;
    color: white;
    border-radius: 20px;
}

li {
    color: aqua;
}

#listacim {
    font-style: italic;
}

.cim {
    color: red;
}

#felsorolás{
    display:flex;
}

ol {
    display: flex;
    flex:1 1 auto;
}

filter {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-widht: 1000px;
        margin: auto;
    }
    
}
